# URL del deployment de Apps Script (Web App → "exec")
VITE_GAS_ENDPOINT=https://script.google.com/macros/s/AKfycbzs-nIcZl8rr_SJf_Z3rrGsP2XeYtzDz9TWODku39kMh09N-_P7_apRqcdhrE-zWAuRkw/exec



# OAuth 2.0 Web Client ID de Google Cloud Console
VITE_GOOGLE_CLIENT_ID=XXXXXXXXXXXX.apps.googleusercontent.com
